<footer role="contentinfo" class="bg-primary site-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <h3>Founder</h3>
                <p>Pasar amal adalah sebuah project yang dimulai oleh:</p> 
                <ul>
                    <li>Annisa Mahrani (anis.mahrani@gmail.com - 08111989744)</li>
                    <li>Fajar Firdaus (fajarmf@gmail.com - 08127149927)</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6">
                <h3>Alamat</h3>
                <p> Silakan kirim / bawa barang donasi ke rumah kami di</p> 
                <p>Jl M Yusuf no 45 RT 4 RW 22 Mekarjaya Depok. (021) 77820843
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/assets/js/jquery.js" }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js" }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "/assets/js/jquery.easing.min.js" }}"></script>
<script src="{{ "/assets/js/jquery.fittext.js" }}"></script>
<script src="{{ "/assets/js/wow.min.js" }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/creative.js" }}"></script>
